<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSTestEokoe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D0AC989214870C20043EC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0AC99D214870C40043EC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0AC9A8214870C40043EC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
